/* NAVBAR */
.header {
	position: fixed;
	z-index: 1000;
	background-color: #fff;
}

.nav-search-text {
	color: #727272;
	font-size: 14px;
	font-family: "Archivo", serif;
	font-weight: 600;
	margin-left: 85px;
	line-height: 24px;
}

.nav-search-text {
	font-size: 14px;
	font-family: "Archivo", serif;
	font-weight: 600;
	padding-left: 0px !important;
}

.nav-logo {
	font-family: "Architects Daughter", serif;
	font-size: 30px;
	color: #a99170;
	padding-left: 0px !important;
	position: relative;
}

.nav-logo span {
	position: absolute;
	top: -10px;
	left: -26px;
}

.second-nav-row {
	margin: 20px 100px 0 300px !important;
	max-width: fit-content;
}

.second-nav-text {
	padding-left: 0px !important;
	padding-right: 40px !important;
	max-width: fit-content !important;
}

.second-nav-text a {
	color: #525252;
	font-size: 14px;
	font-family: "Archivo", serif;
	font-weight: 600;
	line-height: 24px;
}

.second-nav-text a:hover {
	color: #EFC5C9;
}

.active a {
	color: #EFC5C9;
}

.second-nav-icon i {
	font-size: 30px;
}

/* ENDNAV */

/* SLIDER */
.content {
	position: relative;
	top: 95px;
}

.carousel-item {
	position: relative;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.4));
	z-index: 2;
}

.carousel-item img {
	position: relative;
	z-index: 1;
}

.slider-text {
	z-index: 3;
	position: relative;
}

.slider-text h1 {
	color: #f6d4d0;
	font-family: "Arima", serif;
	position: absolute;
	right: -120px;
	top: 0px;
}

.slider-button {
	z-index: 3 !important;
}

/* ENDSLIDER */
/* DISCORVER */

.discover {
	max-height: fit-content;

}

.discover-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.discover a {
	width: 100%;
	height: 100%;
}

.dicover-info {
	background-color: #dfccc5;
	color: #FFF;
	align-items: center;
}

.dicover-info p {
	font-size: larger;
	font-family: 'Archivo', serif;
	font-weight: bold;
	line-height: 1.8;
	text-align: center;
}

.product {
	text-align: center;
}

.product-container {
	justify-content: space-between;
}

.product-title {
	font-size: 16px;
	font-family: 'Archivo', serif;
	font-weight: bold;
}

.product-sale span {
	background-color: #E44643;
	display: inline-block;
	width: fit-content;
	color: #FFF;
	border-radius: 5%;
	font-family: 'Inter', sans-serif;
	font-size: 14px;
}



.product_img {
	padding: 0 !important;
}

.product_img img {
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}

.product-info p {
	font-size: 14px;
	font-family: 'Archivo', serif;
	font-weight: 600;
	padding: 0;
	margin-bottom: 0;
}

.product-price span {
	font-size: 14px;
	font-family: 'Archivo', serif;
	font-weight: 600;
	padding: 0;
	color: #C98878;
}

.product-pagination {
	justify-content: center;
}

.product-pagination div {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	margin: 0 5px;
	background-color: #D9D9D9;
}

.product-pagination div:hover {
	background-color: #333;
}

.product-pagination .active {
	background-color: #333;
}

.product-nav-container {
	justify-content: center;
}

.product-nav {
	text-align: center;
	max-width: fit-content !important;
	margin: 0 20px;
	font-family: 'Archivo', serif;
	font-weight: 600;
	font-size: 14px;
}

.product-nav:hover {
	color: #E2C295;
	cursor: pointer;
}

.product-nav--active {
	color: #E2C295;
}

.blog-content {
	padding: 0 !important;
}

.blog-content-title-img {
	width: 100%;
}

.blog-content-title-img img {
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}

.blog-content-title {
	font-size: 18px;
	font-family: 'Archivo', serif;
	font-weight: 600;
	justify-content: center;
}

.blog-content-title div {
	text-align: center;
}

.blog-content-news-item-img {
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}

.blog-content-news-item-title {
	font-size: 12px;
	font-family: 'Archivo', serif;
	color: #525252;
	justify-content: center;
}

.blog-content-news-item-btn {
	font-size: 12px;
	font-family: 'Archivo', serif;
	justify-content: center;
}


.blog-content-news-item-btn a {
	color: #fff;
	padding: 5px 16px;
	background-color: #fdb6bb;
	border-radius: 5%;
	max-width: fit-content;
}

.blog-content-news-item-btn a:hover {
	color: #fff;
	cursor: pointer;
	opacity: 0.8;
}

.login-content {
	margin-top: 100px;
	width: 70%!important;
	margin-left: 15%!important;
}


.login .row {
	justify-content: center;
}

.login-title {
	font-family: 'Archivo', serif;
	font-size: 30px;
	font-weight: 600;
	margin-top: 100px !important;

}

.login-text {
	opacity: 0.6;
	margin-top: 16px !important;
	margin-bottom: 20px;
	font-size: 22px;
	color: #000;
}

.login-input input {
	width: 70%;
	height: 60px;
	margin-bottom: 30px;
	border-radius: 12px;
	background-color: #fafaf9;
	border: 1px solid #bbb;
	font-size: 24px;
	font-family: 'Archivo', serif;
	font-weight: 400;
}

.underline {
	text-decoration: underline !important;
}

.login-btn button {
	width: fit-content;
	background-color: #fce5eb;
	color: #333;
	border: solid 2px #FF949B;
	border-radius: 14px;
	font-size: 30px;
	font-weight: 450;
	padding: 8px 60px;
	margin-bottom: 100px !important;
}

.register {
	background-color: #fce5eb;
}

.register .login-input input {
	background-color: #fff !important;
}

.register .login-btn button {
	background-color: #fff !important;
}