.overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    height: auto;
    padding: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1000;
}

.popup h3 {
    color: #E67E7E;
    font-size: 22px;
    font-weight: bold;
}

.popup label {
    display: block;
    text-align: left;
    width: 100%;
    color: #E67E7E;
    font-weight: bold;
    margin-top: 8px;
    margin-left: 10px;
}

.popup input,
.popup select {
    width: 90%;
    padding: 8px;
    font-size: 14px;
    margin-top: 5px;
    border: 1px solid #E67E7E;
    border-radius: 5px;
    background: rgba(255, 182, 193, 0.2);
    color: #000;
}

.popup input::placeholder {
    color: #E67E7E;
}

.popup button {
    width: 100px;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background: #E67E7E;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.popup button:hover {
    background: #f56c6c;
}