.active i{
    color: #EFC5C9;;
}
.product-img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}
.tb-td-height{
    height: 90px!important;
}
.tb-text{
    color: #525252;
	font-size: 14px;
	font-family: "Archivo", serif;
    font-weight: 400;
	line-height: 24px;
}
.btn-color{
    background-color: #FF0000;
}
.border-quantity-btn{
    width: 70%;
    margin: auto;
    border: none;
}
.order-bg{
    background-color: #FDB6BB;
    width: 50%;
    border-radius: 5px;
    bottom: 10px!important;
    position: fixed;
    margin-left: 25%;
    
}
.order-width{
    text-align: center;
    max-width: fit-content;
    height: 40px;

}
.order-btn{
    margin-left: 0px!important;
    border: none;
    border-radius: 5px
}